.loginForm-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: auto;
}

.loginForm {
  margin: auto;
  padding: 1.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-width: 1px;
  border-radius: 0.25rem;
  max-width: 28rem;
  width: 100%;
  margin-top: 12rem;
}

.loginForm h2 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.loginForm__form {
  padding-top: 1.25rem;
}

.loginForm__form__button {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  border-radius: 9999px;
}

.loginForm__form__button:active {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

.loginForm__form__button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}
